@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Roboto+Slab:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #5e122f;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
    line-height: 1;
}


.text{
    font-size: 50px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 30px;
    font-family: "Roboto Slab", serif;
}

.paragrafo{
    font-size: 30px;
    color: #fff;
    margin-bottom: 50px;
    font-weight: 600;
}

.cx-home {
    background-color: #e4a3bc;
    font-size: 25px;
    width: 100px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.cx-home .home{
    font-size: 20x;
    font-weight: 600;
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #e4a3bc;
}

/*.btn{
    padding: 15px 55px;
    background: #fff;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    transition: all 0.5s;
}/*