@model MAContabilidade.ViewModels.LoginVM
@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="~/css/login.css">
  
</head>

<body>
  <div class="container">
    <div class="buttonsForm">
      <div class="btnColor"></div>
      <button id="btnSignin">Login do Administrador</button>
    </div>

    <form id="signin" method="post" asp-action="Login">
      <div asp-validation-summary="ModelOnly" class="text-danger" hidden></div>
      <input asp-for="Email" required />
      <i class="bi bi-envelope iEmail"></i>
      <input asp-for="Senha" required />
      <i class="bi bi-lock iPassword"></i>
      <div class="divCheck">
        <input asp-for="Lembrar" type="checkbox" />
        <span>Lembrar Senha</span>
      </div>
      <button type="submit">Entrar</button>
    </form>
    <div class="marca">
      &copy; 2024 - AMContabilidade
    </div>
    <div class="Home">
      <a asp-action="Index">Home</a>
    </div>

    


</body>

</html>