<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agradecimento</title>
    <link rel="stylesheet" href="../css/obrigada.css">
</head>
<body>
    <div class="main">
        <h1 class="text">Agradecemos o seu contato e confiança!</h1>
        <p class="paragrafo">Em breve retornaremos.</p>
        <div class="cx-home"> <a class="home" asp-action="Index">Home</a> </div>
    </div>
</body>

</html>